@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  width:100vw;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgb(36, 32, 46);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid rgb(36, 32, 46);
  border-top-color: yellow;
  border-bottom-color: red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(36, 32, 46);
  border: 2px solid yellow;
  border-right: 2px solid red;
  border-bottom: 2px solid red ;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}


.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
 background-color: rgb(8, 8, 15);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: white;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  text-align:center;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  transition: 0.3s;
  color:white;
  text-align:center;
  background: -webkit-linear-gradient(yellow, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}

section h2 , footer h2 
{
  background: -webkit-linear-gradient(yellow, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
}


.navbar .active:focus
{
 color:white;
  font-weight: bolder;
}


.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(253, 253, 11, 0.3);
  transition: 0.3s;
  border-radius: 4px;
  color:white;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: white;
}

.navbar .dropdown ul a i {
  font-size: 15px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  border: 1px solid white;
  border-radius:2px;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(46, 80, 82, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}


.navbar li:hover > a
{
  color:black;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #070707;
  text-shadow: none;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: black;
  text-shadow: none;
}

.navbar-mobile .getstarted {
  margin: 15px;
  color: #070707;
  text-shadow: none;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(253, 253, 11, 0.3);
  text-shadow: none;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
    text-shadow: none;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  text-shadow: none;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
  text-shadow: none;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: black;
  text-shadow: none;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
  text-shadow: none;
  
}

/*--------------------------------------------------------------
# Front page
--------------------------------------------------------------*/
.front
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color:rgb(36, 32, 46);
  height:100vh;
  min-height: 620px !important;
}
@media screen and (max-height:630px)
{
  .front 
  {
    height:630px;
  }
}
.frontlogo img
{
  height: auto;
  width:25vw;
}
.frontimg{
  margin-top:5vh;
}
.frontimg video
{
width:40vw;
height: auto;

}
@keyframes bounce{
  0% 
    { 
      transform: translate3d(0, 0px, 0);
    }
  100%
    { 
      transform: translate3d(0, -30px, 0);
    }
}
.fronttext
{
  font-size:1.7vw;
  font-weight: bolder;
  text-align: center;
  margin-top:-5vh;
  width:40vw;
  color:white;
}
.flex1
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width:500px)
{
  .front video{
    height: 300px;
    width:auto;
    margin-top:30px;
  }
}

@media screen and (max-width:800px)
{
  .front
  {
    flex-direction:column-reverse;
  }
  .frontimg
  {
    margin-top:unset;
  }
  .frontimg video 
  {
    width:70vw;
    height:auto;
  }
  .frontlogo img 
  {
    width: 250px;
    height:auto;
    margin:unset;
    margin-top:-10vh;
  }
  .fronttext 
  {
    font-size:1.2rem;
    width:70vw;
    margin:unset;
  }
}

@media screen and (max-width:480px)
{
  
  .frontlogo img 
  {
    width:230px;
    height:auto;
  }
  .fronttext
  {
    font-size:1rem;
  }
  .frontimg video 
  {
    margin-top:-5vh;
    width:90vw;
    height:auto;
  }
}

/*--------------------------------------------------------------
# About us - Chetana and Adhamya
--------------------------------------------------------------*/
section h2
{
  font-weight: bolder;
  text-align:center;
  padding: 40px;

}
.chetanadetails, .adhamyadetails
{
  width:70vw;
  margin-left:15vw;
  text-align:justify;
  display:flex;
  justify-content: center;
}
.chetana 
{
  background-image: linear-gradient( to bottom, rgba(253, 253, 11, 0.3), rgba(252, 145, 145, 0.3));
}
.adhamya
{
  background-color:rgb(36, 32, 46);
  color:white;
}
.flex2
{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.flex2 div p
{
  margin-top: 70px;
  margin-left: 30px;
  border:2px solid yellow;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  color:white;
  border-radius: 10px;
  text-align: center;
  padding:10px;
  width: 300px;
}
.flex2 div p:hover
{
  transition: 0.5s;
  background-color: rgb(36, 32, 46);
  background-image: none;
  color: black;
  background-image: linear-gradient(to bottom, rgb(250, 250, 75), rgb(252, 145, 145));
  font-weight: bolder;
}
.flex2 a 
{
  text-decoration: none;
}
.flex2 div img
{
  width:180px;
  height:auto;
}

@media screen and (max-width:700px)
{
  .flex2 
  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
  }
  .flex2 div p 
  {
    margin:unset;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 60vw;
  }
  .flex2 div img 
  {
    margin-top: 20px;
    width:120px;
    height:auto;
  }
}
@media screen and (max-width:480px)
{
  .chetanadetails, .adhamyadetails
  {
    width:86vw;
    margin-left:7vw;
  }
}



/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery 
{
  background-image: linear-gradient( to bottom, rgba(253, 253, 11, 0.3), rgba(252, 145, 145, 0.3));
}
.carousel-item
{
  width:84vw;
  margin-left:8vw;
}
.carousel-control-prev 
{
  margin-left:5vw;
}
.carousel-control-next-icon 
{
  margin-left:-8vw;
  margin-top:-2vh;
}

/*--------------------------------------------------------------
# Vaibhava
--------------------------------------------------------------*/

.vaibhava 
{
 background-color: rgb(36, 32, 46);
 color:white;
}
.vaibhavadetails 
{
  width:70vw;
  text-align: justify;
  margin-left: 15vw;
}

.vaibhava p
{
  text-align: center;
  background-color: #4668a2;
  width:60vw;
  padding: 10px;
  margin-bottom: 0px;
  color:white;
  border-radius: 10px;
  margin-top:30px;
}
.vaibhava p:hover 
{
  color: #37517e;
  border:2px solid #37517e;
  transition: 0.5s;
  background-color:white;
  font-weight: bolder;
}

.vaibhava a
{
  text-decoration: none;
}

@media screen and (max-width:480px)
{
  .vaibhavadetails 
  {
    width:86vw;
    margin-left: 7vw;
  }
}

/*--------------------------------------------------------------
# Flagship events
--------------------------------------------------------------*/
.flagship 
{
  background-image: linear-gradient( to bottom, rgba(253, 253, 11, 0.3), rgba(252, 145, 145, 0.3));
}
.card {
  width: 300px;
  height: fit-content;
  background: #000;
  margin-bottom: 50px;
}
.card .image {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: .5s;
}
.card:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background-image: linear-gradient(to bottom, yellow, yellow, red, red);
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: rgb(36, 32, 46);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: white;
  font-size: 12px;
}

.flex3 
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@media screen and (max-width:950px) 
{
  .flex3 
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

@media screen and (max-width:480px) 
{
  .card 
  {
    width: 80vw;
  }
}

.flex6 
{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top:10px;
}
.upcoming div, .past div
{
  text-align: center;
  border:2px solid rgb(36, 32, 46);
  width:60vw;
  padding: 10px;
  margin-bottom: 0px;
  background-color: rgb(36, 32, 46);
  color:white;
  border-radius: 10px;
  margin-top:30px;
  font-weight: bolder;
}

.flex6 a 
{
  text-decoration:none;
  color:white;
}
.upcoming div:hover, .past div:hover 
{
  transition: 0.5s;
  background-image: linear-gradient( to bottom, rgba(253, 253, 11, 0.8), rgba(252, 145, 145, 0.8));
  color:black;
}
/*--------------------------------------------------------------
# Advantages and Faculty
--------------------------------------------------------------*/

.advantages 
{
  background-color: rgb(36, 32, 46);
  color:white;
}
.advantages h2 
{
  text-align: center;
}
.advantages ul
{
  text-align:justify;
  width:70vw;
  margin-left:15vw;
  
}
.team 
{
  background-image: linear-gradient( to bottom, rgba(253, 253, 11, 0.3), rgba(252, 145, 145, 0.3));
}
@media screen and (max-width:480px)
{
  .advantages ul 
  {
  width:80vw;
  margin-left:10vw;
  }
}

.flex4
{
  display:flex;
  justify-content: center;
}
.flex4 h5 
{
  text-align: center;
  color: #000;
}

.teamdetails 
{
  width:70vw;
  text-align: justify;
  margin-left: 15vw;
}

.team p
{
  text-align: center;
  width:60vw;
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  margin-top:30px;
  background-color: rgb(36, 32, 46);
  color:white;
  font-weight: bolder;
}
.team p:hover 
{
  transition: 0.5s;
  border:2px solid rgb(36, 32, 46);
  background-image: linear-gradient( to bottom, rgba(253, 253, 11, 0.8), rgba(252, 145, 145, 0.8));
  color:black;
}

.team a
{
  text-decoration: none;
}

@media screen and (max-width:480px)
{
  .vaibhavadetails ,   .teamdetails
  {
    width:86vw;
    margin-left: 7vw;
  }


}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
footer 
{
  background-color: rgb(8, 8, 15);
  text-align: center;
  color:white;
}
footer h2 
{
  text-align: center;
  color:white;
  margin-bottom: -10px;
}
footer a 
{
  color:white;
  text-decoration: none;
}
footer a:hover 
{
  color:white;
}
.socialmedia 
{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size:18px;
  margin-top:50px;
  text-align: left;
}

.insta, .fb, .wa, .ph 
{
  border-left: 7px solid white;
  height: 60px;
  border-radius: 5px;
  width:220px;
  margin-bottom: 50px;
}

.insta div, .fb div, .wa div , .ph div 
{
  margin-left:10px;
} 

.insta:hover, .fb:hover, .wa:hover , .ph:hover 
{
  background-image: linear-gradient( to bottom, rgba(253, 253, 11, 0.3), rgba(252, 145, 145, 0.3));
  transition: 0.5s;
} 
hr 
{
  color:white;
  width:90vw;
  margin-left:5vw;
  margin-bottom:10px;
}
.credits 
{
  line-height: 30px;
  margin-top:20px;
}
.credit 
{
  font-size:14px;
}
@media screen and (max-width:990px)
{
  footer h5 
  {
    font-size:18px;
  }
  .socialmedia 
  {
    font-size: 15px;
  }
  .insta, .fb, .wa, .ph  
  {
    height:45px;
    border-left:6px solid white;
    width:180px;
  }
}
 @media screen and (max-width:810px)
{
  .socialmedia  
  {
    flex-direction: column;
  }
  .insta, .fb, .wa, .ph  
  {
    margin-bottom:20px;
    width:250px;
    height:fit-content;
    border-left: 0px;
    font-size:18px;
    padding:10px;
  }
  .flex5 
  {
    display:flex;
    flex-direction: row;
  }
  .icon 
  {
    border-right: 6px solid white;
    border-radius:5px;
    width:30px;
    font-size:20px;
  }
  
} 
@media screen and (max-width:480px)
{
  footer h5 
  {
    font-size:16px;
    width:96vw;
    margin-left:1vw;
  }
  .socialmedia 
  {
    font-size: 16px;
  }
  .icon 
  {
    font-size: 18px;
    width:27px;
  }
  .insta, .fb, .wa, .ph  
  {
    font-size:16px;
  }
  .text 
  {
    margin-top:3px;
  }
  #loc 
  {
    width:94vw;
  }
  .credits h4 
  {
    font-size:16px;
    font-weight: bolder;
  }
  .credits a 
  {
    font-size:15px;
  }
}