@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.containers {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brands h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}


/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .headers {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bars {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-lists ul {
	list-style: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
	background-color: #17a2c2; 
	
}
#header .nav-lists ul.active {
	left: 0%;
	
}
#header .nav-lists ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-lists ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-lists ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
	
}
#header .nav-lists ul li:hover a {
	width: 100%; 
	left: 0; 
	color: black;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	/* animation: hamburger_puls 1s ease infinite; */
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(https://kcmedicine.org/wp-content/uploads/2018/06/AdobeStock_159242968.jpeg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #17a2c2;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;

}
#hero h1 {
	display: block;
	text-align: center;
	font-size: 3.5rem;
	padding:20px;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

/* End Hero Section */

/* About Section */
#about .service-mainp 
{
	margin:0px;

}
#about .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 0;
}
#about  .service-top p 
{
	text-align:justify;
	padding: 20px;
	margin-bottom: -25px;
}
#about .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#about .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#about .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	min-height: 350px;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	box-shadow: 0px 0px 2px 0 #41c2df;
	transition: 0.3s ease box-shadow;
	border: 1px solid #41c2df;
}
#about .service-item:hover 
{
	box-shadow: 0px 0px 1px 0 #41c2df;
}
#about .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	z-index: -1;

}
#about .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#about .service-item h2 {
	font-size: 2rem;
	
	margin-bottom: 10px;
	text-transform: uppercase;
}
#about .service-item p {
	text-align: justify;
}
#about .working ul{
	list-style: circle;
	font-size: large;
	padding:10px;
	background-color: #d2eff0;
	border:2px solid #41c2df;
	padding: 50px;
	border-radius:10px;
	margin-top:40px;
}
@media screen and (max-width:400px)
{
	#about .working 
	{
		width:80vw;
		font-size:medium;
	}
}
/* End About Section */

/* Facilities section */
#facilities 
{
	background-color: #f9f9fa;
	font-size:16px;
}
#facilities button
{
	font-size: large;
}
.facparent 
{
	margin-top: 40px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.facparent div 
{
	font-size:2rem;
	margin-bottom:30px;
	border:2px solid #41c2df;
	border-radius:5px;
	width: 70vw;
	text-align:center;
	padding:15px;
	cursor:pointer;
	background-color:white;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;

}
.facparent div:hover
{
	background-color:  #41c2df;
}
.modalsdiv 
{
	font-size:16px;
}

/* End facilities section */

/* Doctors Section */
#doctors 
{
	font-size:16px;
}
#doctors .section-title
{
	margin-bottom:50px;
}
.col-centered {
	float: none;
	margin-right: auto;
	margin-left: auto;
  }
.our-team {
	padding: 20px 10px 30px;
	margin-bottom: 30px;
	background-color: #f9f9fa;
	text-align: center;
	overflow: hidden;
	position: relative;
	border:2px solid #41c2df;
	border-radius: 10px;
	min-height: 370px;
  }
  
  .our-team .picture {
	display: inline-block;
	height: 160px;
	width: 160px;
	margin-bottom: 20px;
	z-index: 1;
	position: relative;
  }
  
  .our-team .picture::before {
	content: "";
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #41c2df;
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0;
	opacity: 0.9;
	transform: scale(3);
	transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
	height: 100%;
  }
  
  .our-team .picture::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #41c2df;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
  }
  
  .our-team .picture img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1);
	transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
	box-shadow: 0 0 0 14px #f7f5ec;
	transform: scale(0.7);
  }
  
  .our-team .title {
	display: block;
	color: #4e5052;
	text-transform: capitalize;
  }
  
  .our-team .social {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #41c2df;
	position: absolute;
	bottom: -100px;
	left: 0;
	transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
	bottom: 0;
  }
  
  .our-team .social li {
	display: inline-block;
  }
  .our-team .social ul {
	padding:10px;
	
  }
  .our-team .social li a {
	display: block;
	padding: 10px;
	font-size: 17px;
	color: white;
	transition: all 0.3s ease 0s;
	text-decoration: none;
  }
  
  .our-team .social li a:hover {
	color: #1369ce;
	background-color: #f7f5ec;
  }
  
/* End of Doctors Section */

/* GallerySection */
#Gallery 
{
	padding:15px;
	background-color: #f9f9fa;
}
/* End of Gallery Section */

/* Reviews section */
.review-div
{
	font-size:medium;
	border:2px solid #41c2df;
	padding:10px;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #f0f4f5;
}
.author
{
	text-align: right;
	margin-top:10px;
	font-weight: bold;
	font-size:1.5rem;
}
.facparent a 
{
	text-decoration: none;
	color:black;
}
.facparent a:hover 
{
	color:black;
}
.review-link 
{
	font-size:2rem;
	margin-bottom:30px;
	border:2px solid #41c2df;
	border-radius:5px;
	width: 70vw;
	text-align:center;
	padding:15px;
	cursor:pointer;
	background-color:white;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}
/* End of Reviews section */

/* contact Section */
#contact 
{
	background-color: #f9f9fa;
}
#contact h1 
{
margin-bottom: 30px;
}
#conh1 
{
	transform: translateY(-30px);
}
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	width: 90%;
}

#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
.map iframe 
{
	margin-top:-50px;
	margin-bottom:50px;
}
.msg 
{
	font-size:2rem;
}
.msg input
{
	height: 40px;
	font-size:1.8rem;
}
.msg textarea
{
	font-size: 1.8rem;
}
.msg button 
{
	font-size:2rem;
	padding:5px;
	margin-bottom:50px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top:10px;
	background-color: #41c2df;
	border:2px solid #17a2c2;
}
@media screen and (max-width:768px)
{
.map iframe 
{
	margin-top:30px;
}
#conh1 
{
	transform: translateY(0px);
	padding-top:60px;
}
#contact .contact-items 
{
	align-items: center;
	align-items: center;
	display:flex;
	flex-direction: column;
}
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 50px;
	flex-direction: column;
	padding: 10px;
}
#footer h2 {
	text-align: center;
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#about .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-lists ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-lists ul li {
		display: inline-block;
	}
	#header .nav-lists ul li a {
		font-size: 1.8rem;
	}
	#header .nav-lists ul a:after {
		display: none;
	}
	/* End header */

	#about .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */