
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {

	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
div, p, a, span, h1, h2, h3, h4, h5, h6
{
	font-family: "Poppins", sans-serif;
}
a {
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
.containers {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .headers {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bars {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-lists ul {
	list-style: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
	background-color: #17a2c2; 
	
}
#header .nav-lists ul.active {
	left: 0%;
	
}
.brands img 
{
	width:70px;
}
#header .nav-lists ul li a {
	font-size: 1.2rem !important;
	font-weight: 600;
	letter-spacing: 0.05rem;
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	padding: 20px;
	display: block;
}
#header .nav-lists ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-lists ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
	
}
#header .nav-lists ul li:hover a {
	width: 100%; 
	left: 0; 
	color: black;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	/* animation: hamburger_puls 1s ease infinite; */
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
/* #hero {
	background-image: url(https://kcmedicine.org/wp-content/uploads/2018/06/AdobeStock_159242968.jpeg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #17a2c2;
	opacity: 0.7;
	z-index: -1;
} */
/* #hero .hero {
	max-width: 1200px;
	margin: 0 auto;

} */
/* #hero h1 {
	display: block;
	text-align: center;
	font-size: 3.5rem;
	padding:20px;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
} */
/* .appoint 
{
	display:flex;
	justify-content: center;
}
.appoint div button
{
	font-size: 2rem;
	margin-top: 50px;

	border:2px solid #14cef8;
	padding:10px;
	border-radius: 15px;
	
} */
.banner 
{
	width:100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.slider 
{
	width:100vw;
	height: 100vh;
	position: absolute;
	top:0;
	max-width: 100vw;
	max-height: 100vh;
}
#slideImg 
{
	width:100vw;
	height:100%;
	max-width: 100vw;
	max-height: 100vh;
	animation: zoom 3s linear infinite;
}
@keyframes zoom 
{
	0%
	{
		transform: scale(1.3);
	}
	15%
	{
		transform: scale(1);
	}
	85%
	{
		transform: scale(1);
	}
	100%
	{
		transform: scale(1.3);
	}
}
.overlay 
{
	width:100%;
	height: 100vh;
	background:#233636;
	position: absolute;
	top:0;
	opacity: 0.8;
}
.content
{
	padding: 15px;
	width:100%;
	margin:200px auto 0;
	text-align: center;
	color:white;
	opacity: 1 !important;
	position: absolute;
}
.content h1{
	font-size:4rem !important;
}
.content h3 
{
	margin-top:30px;
}
.appoint 
{
	display:flex;
	justify-content: center;
}
.appoint div button
{
	font-size: 1.3rem;
	margin-top: 30px;
	background-color: transparent;
	border:2px solid #14cef8;
	padding:10px;
	border-radius: 15px;
	
}
/* End Hero Section */

/* About Section */
.counter-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 30px 50px;
  }
  
  .counter {
	font-size: 60px;
	margin-top: 10px;
  }
  
  @media (max-width: 580px) {
	body {
	  flex-direction: column;
	}
  }
 
  .sec-title, #title{
	text-align:center;
	font-size: 3rem;
	margin-top:30px;
	margin-bottom: 50px;
  }
  #title span 
  {
	padding: 10px;
	border: 5px solid #17a2c2 ;
	border-top:0px;
	border-left: 0px;
	border-right: 0px;


  }
  .mainparent 
  {
	display:flex;
	flex-direction: column;
	align-items: center;
  }
 .mainparent img 
 {
	transform: translateY(-30px);
 }
  .parent1 
  {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
  }
  .parent2
  {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
  }
  .parent1 .p2, .parent2 .p2 
  {
	text-align:justify;
	font-size:1.2rem;
	padding:15px;
  }
  .number
  {
	border:2px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #17a2c2;
  }
  .numbers 
  {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	margin-top:20px;
  }
  .numbers div 
  {
	padding:15px;
	text-align:center;
	font-size:1.3rem;
  }
  .number span:nth-child(1)
  {
	font-size:2.5rem;
	font-weight: bolder;
  }
/* End About Section */


/* Doctors Section */
.parents 
{
	display:flex;
	justify-content:space-around;
	column-gap: 5rem;
}
.doctor 
{
	border:5px solid #17a2c2;
	text-align: center;
}
.doctor:hover
{
	transition: 0.5s;
	transform: scale(1.05);
}

/* End of Doctors Section */

/* GallerySection */
#Gallery 
{
	padding:15px;
	background-color: #ddeef0;
}
/* End of Gallery Section */

/* Reviews section */
.review-div
{
	font-size:medium;
	border:2px solid #41c2df;
	padding:10px;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #f0f4f5;
}
.author
{
	text-align: right;
	margin-top:10px;
	font-weight: bold;
	font-size:1.5rem;
}
.facparent a 
{
	text-decoration: none;
	color:black;
}
.facparent a:hover 
{
	color:black;
}
.review-link 
{
	font-size:2rem;
	margin-bottom:30px;
	border:2px solid #41c2df;
	border-radius:5px;
	width: 70vw;
	text-align:center;
	padding:15px;
	cursor:pointer;
	background-color:white;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}

/* End of Reviews section */

/* contact Section */
#contact 
{
	background-color: #f9f9fa;
}
#contact h1 
{
margin-bottom: -30px;
}
#conh1 
{
	transform: translateY(-30px);
}
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	width: 90%;
}

#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 500;
}
.map iframe 
{
	margin-top:50px;
	margin-bottom: -80px;
}
.msg 
{
	font-size:1.3rem;
}
.msg input
{
	height: 40px;
	font-size:1.8rem;
}
.msg textarea
{
	font-size: 1.8rem;
}
.msg button 
{
	font-size:1.3rem;
	padding:5px;
	margin-bottom:50px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top:10px;
	background-color: #41c2df;
	border:2px solid #17a2c2;
}
@media screen and (max-width:768px)
{
.map iframe 
{
	margin-top:30px;
}
#conh1 
{
	transform: translateY(0px);
	padding-top:75px;
}
#contact .contact-items 
{
	align-items: center;
	align-items: center;
	display:flex;
	flex-direction: column;
}
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 50px;
	flex-direction: column;
	padding: 10px;
}
#footer h2 {
	text-align: center;
	color: white;
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	
}
#footer p {
	color: white;
	font-size: 1.1rem;
	margin-bottom: 0px;
}
/* End Footer */

/* Pre loader */ 
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: rgb(36, 32, 46);
  }
  
  #preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid rgb(36, 32, 46);
	border-top-color: yellow;
	border-bottom-color: red;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate-preloader {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  /* End of Pre loader */

/* Back to top button */
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: rgb(36, 32, 46);
	border: 2px solid yellow;
	border-right: 2px solid red;
	border-bottom: 2px solid red ;
	width: 56px;
	height: 56px;
	border-radius: 50px;
	transition: all 0.4s;
  }
  
  .back-to-top i {
	font-size: 24px;
	color: #fff;
	line-height: 0;
  }
  
  
  .back-to-top.active {
	visibility: visible;
	opacity: 1;
  }
  
/* End of back to top button */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1.5);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#about .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-lists ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-lists ul li {
		display: inline-block;
	}
	#header .nav-lists ul li a {
		font-size: 1.8rem;
	}
	#header .nav-lists ul a:after {
		display: none;
	}
	/* End header */

	#about .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */